:root {
    --background: white;
    --text-primary: rgb(255, 255, 255);
    --text-heading: rgb(7, 7, 50);
    --text-secondary: rgb(223, 219, 219);
    --text-heading: rgb(117, 116, 116);
    --accent: rgb(16, 73, 179);
    --hero-background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  }
/* font size */
  :root{
        --font-4: 4rem;
        --font-3: 3rem;
        --font-2: 2rem;
        --f0nt-1o5: 1.5rem
        --font-1: 1rem;
  }

      /* font weight */
  :root{
        --weight--400: 400;
        --weight--500: 500;
        --weight--600: 600;
        --weight--700: 700;
        --weight--800: 800;
   }
 
 
 
  /* commen classes */
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-bn{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex-align{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .flex-en{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  /* masthead-section */
.imglogo{
    width:15rem; 
}
.logo-sec{
    text-align: center;
}

.head-container{
    height:100dvh;
    width:100dvw;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    animation: change 40s infinite ease;
}

@keyframes change{
    0%{
        background-image : linear-gradient(to bottom,rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)) , url(./assets/heroimg.jpg) ;
    }
    50%{
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)) , url(./assets/heroimg2.jpg) ;
    }
    100%{
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)) , url(./assets/heroimg.jpg) ;
    }
}

.main-header{
    font-size: var(--font-4);
    font-weight: var(--weight--500);
    color: var(--text-primary);
    
}
.mainheader-sec{
  text-align: center;
  width: 70dvw;
  margin: 50px auto;
  vertical-align: middle;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.margin-top{
  margin-top: 10px;
  font-size: var(--font-2);
}
.sub-main-header{
    font-size: var(--font-1);
    margin: 0;
    color: var(--text-secondary);
    font-weight: var(--weight--600);
}

 @media only screen and (max-height: 670px){
  .main-header{
    font-size: var(--font-2);
    font-weight: var(--weight--500);
    
  }
  .sub-main-header{
    font-size: var(--font-1);
    
  }
  .mainheader-sec{
  margin-top: 10px;
  height: 50dvh;
 
  }
} 


/* our partners logo */
.partnerlogo{
   width: fit-content;
   height: 4rem;
}
.partner-header{
  text-align: center;
  font-size: var(--font-2);
  font-weight: var(--weight--600);
  color:var(--text-heading);
}
.partner-logos-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 7px;
}
.partner-container{
  margin:100px auto;
  width: 100dvw;
  
}

/* project section */

.propertyimg{
  width: 400px;
  height: 250px;  
  object-fit: cover;
  border-radius: 7px;
}

.propertyname{
  margin: 0;
  font-size: 1.2rem;
  font-weight: var(--weight--500);
}
.locationname{
  margin: 0;
  font-size: small;
  font-weight: var(--weight--500);
}
/* inside img */
.property-img-container{
  position: relative;
}
.property-img-type{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.1rem;
  font-weight: var(--weight--600);
  background-color: #dbff12;
  padding: 5px;
  margin-left: -10px;
}
.property-img-container svg{
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #D3CCE3;
  padding: 0.3rem;
  border-radius: 4px;
}
.date-img-sec{
  display: flex;
  gap: 0.2rem;
  align-items: center;
  position: absolute;
  bottom: 0.7rem;
  left: 0.3rem;
  background-color: #E9E4F0;
  padding: 5px 5px;
  border-radius: 5px;
  
}
.amount-img-sec{
  position: absolute;
  bottom: 0.7rem;
  right: 0.5rem;
  background-color: #E9E4F0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  border-radius: 5px;
 margin-bottom: -30px;
}
.amount{
  margin: 0px;
  font-size: 15px;
  font-weight: var(--weight--700);
}
.launch{
  margin: 0px;
  font-size: 15px;
  color: #777778;
}
.key-img{
  width: 1.5rem;
  
}
.date-fonts{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}
.bhk-dec{
  font-size: 12px;
  font-weight: var(--weight--600);
}
.room-img{
  width:20px ;
  height: 18px;
}
.btn-eta{
  display: flex;
  align-items: center;
  width: 10rem;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-1);
  font-weight:var(--weight--600);
  color:rgb(104, 103, 103);
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}
.borleft{
  border-right: 2px solid rgb(193, 192, 192);
}
.borright{
  border-left: 2px solid rgb(193, 192, 192);
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  margin: 5px 7px;
  gap: 15px;
  padding: 5px ;
  border-top:1px solid rgb(193, 192, 192);  
}


.property-des{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.geo-locate{
  margin: 1rem 0;
  color: rgb(2, 2, 171);
}

.property-container{
  margin: 10px 0;
  width: 400px;
  border: 1px solid rgb(144, 139, 139);
  border-radius: 10px;
}
.proerty-content{
  padding: 10px;
}
.project-container-list{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.ourproject-container{
  margin: 2rem 0;
  margin-bottom: 5rem;
  width: 100dvw;
position: relative;
}
/* media querys */
@media only screen and (max-width: 500px){
  .propertyimg{
    width: 90dvw;
  }
  .property-container{
        width: 90dvw;
  }
  .project-container-list{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}
.ourproject-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}

}
/* media querys */
@media only screen and (max-width: 550px){
  .main-header{
  font-size: var(--font-2);
  font-weight: var(--weight--500);
  
}
.sub-main-header{
  font-size: var(--font-1);
  
}
.mainheader-sec{
margin-top: 80px;
}
.margin-top{
margin-top: 50px;
font-size: var(--font-1);
}
.partner-logos-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.partner-scroll{
  width: 60dvw;
  overflow: scroll;

}
.partner-container{
 display: flex;
 flex-direction: column;
 align-items: center;
}

}

/* footer section */

.footer-sec{
  width: 100%;
  max-height: fit-content; 
}

.relativ-sign{
    position: fixed;  
    bottom: 1.3rem;
    z-index: 1; 
    behavior: 'smooth'

}
.btn-section{ 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

}
.btn-foot{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 10rem;
  height: 3rem;
  font-weight: 500;
  font-size: 16px; 
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
.blue{
  background-color: rgb(141, 141, 255);
}
.yellow{
  background-color: yellow;
}

  .page-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100dvw;
  }





  @media only screen and (max-width: 550px){
.button-container{
    justify-content: center;
     
  }
  }

  .icon-eta{
    height: 17px;
    color: rgb(255, 0, 0);
  }



  /* form registration form */

  .img-logop-form{
    width: 9rem;
  }


.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .input-container{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    max-width: 60dvw;
    margin: 30px 0;
  }

  .succes-bar{
    background-color: rgb(163, 41, 239);
    padding: 3px 10px;
    color: #fff;
    font-weight: 500;
    margin: 0;
    transition: all 0.5s ease-out;
  }

  .input-box{
    border-bottom: 1px solid rgb(196, 196, 196) !important;
    border: none;
    color: rgb(149, 149, 149);
    padding: 5px 10px;
  }
  .input-box::placeholder{
    color: rgb(149, 149, 149);
  }


  .input-box:focus{
    outline: 2px solid rgb(27, 149, 49) ;
  }

  .form-container{
    border: 1px solid rgb(217, 215, 215);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    height: fit-content;
    max-width: 50dvw;
    height:fit-content;
    padding:  30px  50px ;
    background-color: #fff;
  }
  .image-close{
    display: flex;
     align-items: center;
    justify-content: space-between;
  }
 
  .close-imga{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
  .register-form-heading{
    color: rgb(27, 149, 49);
    text-align: center;
  }
  .btn-property{
    border:2px solid rgb(11, 202, 11);
    padding: 0.7rem  0.7rem;
    background-color: rgb(11, 202, 11);
    font-size: 15px;
    color: var(--text-primary);
 }
 .btn-property:hover{
   border: 2px solid rgb(11, 202, 11);
   background-color: transparent;
   cursor: pointer;
   color: rgb(11, 202, 11);
 }
 .terms-sec{
   width: 80%;
   font-size: 8px;
   text-align: center;
 }
 .model-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 53, 74, 0.678);
    position: fixed;
   
    z-index: 10;
    top: 50%; 
    left: 50%;
    transform: translate(-50% , -50%);  
}
 .call-icon-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(209, 249, 101);
  padding: 5px ;
  font-size: 13px ;
 }
.form-call-anchor{
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  width: 100%;
  font-weight: inherit;
}


/* whats app icons */


.whatsapp-container{
  position: fixed;
  bottom: 5rem;
  right: 1.5rem;
}
.whatsapp-anchor{
text-decoration: none;

}
.whatsappgif{
  width: 3.6rem;
  border-radius: 50%;
}